
<section class="cart m-5" >
  <% if(session.cart) { %>
      <% if(session.cart.totalQty) { %>
    
    <div class="container-fuild bg-white p-5"> 
        <div class="text-center">
            <img  src="./Images/full-cart.jpg"width="15%" height="auto"alt="full-cart">
            <h4 class="text-danger">Order summary</h4>
        </div>
        <div class="jumbotron bg-warning m-lg-5  p-lg-3">
        <% for(let menu of Object.values(session.cart.items)) { %>
            <% if(menu.qty) { %>
              <div class="row">
               <div class="col-lg-4">
                   <img class="float-lg-left pr-3" src="./Images/<%= menu.item.image %>" width="80px" height="70px">
                   <h4 class="text-left  p-3"><%= menu.item.name %></h4>
               </div>
               <div class="col-lg-4">
                    <h4 class="text-center p-3"><%= menu.qty %> pcs</h4>
               </div>
               <div class="col-lg-4">
                   <h4 class="text-center p-3">₹<%= menu.item.price*menu.qty %> </h4>
               </div>
             </div>
            <hr>
        <% } %>
        <% } %>
          </div>
          
         
         
      </div>
        <hr>
       <div class="container">
           <div class="text-right m-5 ">
                 <h3> <strong>Total Amount:</strong> <h4 class="text-success">₹<%=session.cart.totalPrice %></h4></h3>
          </div>
        <div class="col-md-6 col-lg-12 " >
           <form action="/orders" method="POST">
            <% if(messages.error){ %>
              <span class="text-danger text-sm"> <%= messages.error %></span>
            <% } %> 
              <legend>Location:</legend>
                  <div class="form-inline">
                    <input name="location" class="form-control" value="Udumalpet" type="text" readonly placeholder="location"  >
             </div>
            <b>If your location is Udumalpet ,Enter the below details</b>
            <legend >Address</legend>

                      <div class="form-inline">
                          <legend>Door No: </legend>
                          <input name="door" class="form-control" type="text" placeholder="31c" >
                      </div>
                      <div class="form-inline">
                         <legend >Street line 1:</legend>
                         <input name="line1" class="form-control" type="text" placeholder="" >
                     </div>
                     <div class="form-inline">
                         <legend >Street line 2(optional):</legend>
                        <input name="line2" class="form-control" type="text" placeholder="" >
                     </div>
                     <div class="form-inline">
                       <legend >Landmark(optional):</legend>
                       <input name="landmark" class="form-control" type="text" placeholder="" >
                    </div>
                   <div class="form-inline">
                        <legend >Phone Number:</legend>
                        <input name="phone" class="form-control" type="tel"  pattern="[0-9]{10}" title=" Enter 10 digits"placeholder="Phone Number" >
                  </div>
                   <br>
                 
                   <button class="btn btn-danger float-right" type="submit">Order Now</button>
              </form>
        </div>
   </div>
   <% } else{ %>
    <section class="empty-cart ">
      <div class="container-fuild bg-white p-5 text-center"> 

<div>
     <a class="btn btn-warning" href="/menu" type="submit">Continue Shopping</a>
  
     </div>
     <br>
      <img  src="./Images/empty-cart.jpeg" width="50%" height="auto"alt="empty-cart">
    
        </div>
  <% } %>
      
        
</section>
        
          <% } else{ %>
          <section class="empty-cart ">
             <div class="container-fuild bg-white p-5 text-center"> 
      
       <div>
            <a class="btn btn-warning" href="/menu" type="submit">Continue Shopping</a>
         
            </div>
            <br>
             <img  src="./Images/empty-cart.jpeg" width="50%" height="auto"alt="empty-cart">
           
               </div>
         
          <% } %>
        </section>

    