<%- include("./partials/header.ejs") %>
   
   <form class="form-inline justify-content-center my-2 ">
        <input class="form-control  mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
     
      <div class="row">
        <% saravanabhavans.forEach(function(saravanabhavan){ %>
        <div class="col-sm-4 col-md-3">
          <div class="card p-3 m-sm-3" style="width: 250px;">
            <h5><%= saravanabhavan.name %></h5>
            <img src="./Images/<%=saravanabhavan.image %>"  class="card-img-top" alt="...">
            <div class="card-body">
              <h4 data-saravanabhavan="<%= JSON.stringify(saravanabhavan) %>"class="add-to-cart card-text"><%= saravanabhavan.price %><button class="btn btn-outline-danger float-right" type="submit">+Add</button></h4>

            </div>
          </div>
        </div>
        <% }) %>
      </div>
</div>
  

<%- include("./partials/footer.ejs") %>




