
 
<div class="container pt-5">
    <div class="col-md-6 col-lg-12 " >
      <div class="edit jumbotron mt-5 pt-5">
<form action="/admin/<%= edit._id %>?_method=PUT" method="POST">
  <h2>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAABgElEQVRYR+3W0VHEIBAGYHbzHKSEswK1g7OE68ASLMUOLEE7UDuwFC55vQEHh2QwJvCTg5nc6L1mB77s/oEjsbEfbcwj/g5IKaVOp9MNEammaT601hqZRpUOKaVujTEvQoidR2hmvtdaf6ZQxUEe8yaEUJPNIVRR0Azm6FFXaKeKgeYwzLx3EGPMuxAiRF0vZaoIaAkzZMY/H1HW2kPf969zeTobtJCZH3mZ1lQDRQLsXv4b5UcWhvzIzLviI5sbk7X2kYiewrz4sQxfnMPsY5//qpHFMjPNS5CTJMbVZoNSAXaLtm37QETPuZhsEIJBamKnNdwhZCOkpsjVgWyE1KQw0MiQjZAaBJMEIRshNSgmCkI2QmpyMFGQlNL9oRouxF9nSA1MCmSHt2Pmu/B0rYWBQV3XjcdDTUw2qDYGBi0EE7qbSoZ6zNDMolUwaztUDZM8GHPbXaIevlxLbIascTkgKWUs1MjLRmvCsy0sXOzQP8i36XIydHZIVi6wuQ59AaVlWTT8ByOYAAAAAElFTkSuQmCC"/>
    Edit Items</h2>
    <div class="form-group">
     <legend>Category</legend>
    <input name="category" type="text" class="form-control" value="<%= edit.category %>"  placeholder="Enter Item Category" >
    </div>
    <div class="form-group">
        <legend>Item name</legend>
        <input name="name" type="text" name class="form-control" value="<%= edit.name %>"  placeholder="Enter Item Name" >
    </div>
    <div class="form-group">
      <legend>Item Image</legend>
      <input name="image" type="text" name class="form-control" value="<%= edit.image %>"   placeholder="Enter Item Image" >
  </div>
  <div class="form-group">
    <legend>Item Price</legend>
    <input name="price" type="number" name class="form-control" value="<%= edit.price %>"  placeholder="Enter Item Price" >
  </div>
   
  
    <div class="custom-control custom-switch">
      <input  name="available"type="checkbox" class="custom-control-input" id="check" value="<%= edit.available %>" >
      <label class="custom-control-label" for="check">Item Available</label>
    </div>

    <br>
    <input  id="submit"class=" btn btn-danger" class="form-control"type="submit" value="Add item">
    <br>
    <br>
</form>
   
</div>
</div>
</div> 
