

<div class="container mx-auto">
    <h1>All Orders</h1>
    
   
<table class="table">
    <thead>
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
        <th scope="col">Placed At</th>
      </tr>
    </thead>
    <tbody id="orderTableBody">
     <% orders.forEach(function(order) { %>
      
               <tr>
               <td>
               <p> <%= order._id %></p>
 
               
              
              
              </td>
         <td>
             <%= order.customerId.name  %>
         </td>
         <td>
              <%= order.address %>
         </td>
         <td>
        <form action ="/admin/order/status" method="POST"class=" form-group  m-3 p-4 bg-light ">
              <input  type="hidden" name="orderId"  class="form-control" value="<%= order._id %>" >
        <select name="status" onchange="this.form.submit()">
         <option value="order_placed">
          <%= order.status === 'order_placed'? 'selected' : '' %> placed </option>
         <option value="Confirmed">
         <%= order.status=== 'Confirmed'? 'selected' : '' %> Confirmed </option>
         <option value="Prepared">
         <%= order.status=== 'Prepared'? 'selected' :'' %> Prepared</option>
         <option value="Delivered">
         <%= order.status=== 'Delivered'? 'selected' :'' %> Delivered</option>
         <option value="Completed">
        <%= order.status=== 'Completed'? 'selected' :''%>Completed</option>
         </select>
        </input>
     
         </form>
        </td>
        <td>
             <%= moment(order.createdAt).format("hh:mm A") %>
        </td>
        </tr>
      
     <% }) %>
    </tbody>
  </table>
</div>
