

<div class="container pt-5 mx-auto">
  <% if(orders.length) { %>
  
      <h1>All Orders</h1>
<table class="table ">
    <thead class="thead">
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">Items</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Address</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
   <%   function render(items) { %>
    <%   let parsedItems = Object.values(items) %>
    <%   parsedItems.forEach(function(menuItem) { %>
           <% if(menuItem.qty){ %>
                <p><b><%= menuItem.item.name %></b> - <%= menuItem.qty %> pcs </p>

            <% } %>
      <%  }) %>
   <%   } %>
     
     
            <% orders.forEach((order)=> { %>
              <tr>
                 <td>
                      <a href="/menu"><%= order._id %></a>
                </td>
                <td>
                  <%= render(order.items) %>
            </td>
                 <td>
                      <%= order.phone %>
                      <p><a href="tel:+ <%= order.phone %>"><%= order.phone %></a></p>
                </td>
                <td>
                     <p> <%= order.door %></p>
                     <p> <%= order.line1 %></p>
                     <p> <%= order.line2 %></p>
                     <p> <%= order.landmark %></p>
                     <p> <%= order.location %></p>

               </td>
                <td>
                      <%=moment(order.createdAt).format("hh:mm A") %>
               </td>
               <td>
                <form action="/admin/<%= order._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAxklEQVRIS+2VwRHCIBBF/96NbipQO0kpWpkpxVJiBTCmgHU4MIOGsAmE8ZLcGGDf/3+HLKHyR5XrIwkYjemI6CHAJSaEgEFE7k3bPueEJgFvawcCzimXDnJgvmYBRmvFXWyYo0K0fXc3HdHWAK+otPGh4y8H1QFe+ZJsQ5ep89nN2xTwq1Bbh/BFDrSCxRHtgMm7WhvJ3gP111QckUbIAVgAJ61wuC/A68g8mXzxl2xMJ0S9Ns08wBUnkVtsdP536K+JaO7sB7Dj1xkR+MqlAAAAAElFTkSuQmCC"/>
                    Remove</button>
                  </form>
               </td>
             </tr>
            <%  }) %>
             <% } else{ %>
              <%  console.log(orders) %>
                    <h1 class="text-center p-5">No Orders Found </h1>   
             <% } %>
    
    </tbody>
  </table>
</div>
