<%- include("./partials/header.ejs") %>

<section class="cart">
<% if(session.cart) { %>
    <div class="container-fuild bg-white p-5 text-center"> 
        <div class="">
            <img  src="./Images/full-cart.jpg"width="10%" height="auto"alt="full-cart">
            <h4 class="text-danger">Order summary</h4>
        </div>
       <div class="jumbotron bg-warning m-5 p-4">
           <% for(let saravanabhavan of Object.values(session.cart.items)) { %>
           <div class="row">
               <div class="col-lg-4">
                   <img class="float-left pr-3" src="./Images/<%= saravanabhavan.item.image %>" width="80px" height="70px">
                <h4 class="text-left  p-3"><%= saravanabhavan.item.name %></h4>
               </div>
               <div class="col-lg-4">
              <h4 class="p-3"><%= saravanabhavan.qty %> pcs</h4>
               </div>
               <div class="col-lg-4">
                <h4 class="p-3">₹<%= saravanabhavan.item.price*saravanabhavan.qty %> </h4>
               </div>
           </div>
           <hr>
           <% } %>
       </div>
      
       <hr>
       <div class="text-center m-5 ">
          <h3> <strong>Total Amount: </strong></h3>
           <h4 class="text-success">₹<%=session.cart.totalPrice %></h4>
           </div>
       <% if(user){ %>
           <form action="/orders" method="POST"class="form-inline justify-content-center my-2 mx-2 ">
            <input name="phone" class="form-control  mr-sm-2" type="numbers" placeholder="Phone Number" aria-label="Phone Number">
           <div>
            <textarea name="address" class="form-control mr-4" placeholder="Address" rows="3"></textarea>
       
            <button class="btn btn-danger" type="submit">Order Now</button>
           </div>  
          </form>
         
        </div>
      <% }else{ %>
        <a class="btn btn-danger" href="/">Login to continue</a>
        <% } %>
    </section>
          <% } else{ %>
          <section class="empty-cart">
             <div class="container-fuild bg-white p-5 text-center"> 
         <!-- <button class="btn btn-danger" href="/login" type="submit">Login to continue</button>  -->
       <div>
            <button href="/" class="btn btn-warning" type="submit">Continue Shopping </button>
            </div>
            <br>
             <img  src="./Images/empty-cart.jpeg" width="50%" height="auto"alt="empty-cart">
        
               </div>
          </section>
          <% } %>

          <%- include("./partials/footer.ejs") %>